.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/src/assets/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 26.375rem;
  height: 58.9375rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: white;
  font-weight: 700;
  margin-bottom: 19rem;
}

.title {
  font-size: 3rem;
  letter-spacing: 0.03988rem;
}

.subTitle {
  font-size: 0.8rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  margin-bottom: 2rem;
}

.inputContainer input {
  display: flex;
  width: 20.375rem;
  height: 3.125rem;
  padding: 0rem 0.9375rem;
  align-items: center;
  gap: 0.75rem;

  border-radius: 0.625rem;
  border: 1px solid #bababa;
  background: #fff;
}

.inputContainer .emailInput::placeholder {
  color: #bababa;
  font-family: "DM Sans", sans-serif;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  background-image: url(/src/assets/mail-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 1.6rem;
}

.inputContainer .passwordInput::placeholder {
  color: #bababa;
  font-family: "DM Sans", sans-serif;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  background-image: url(/src/assets/lock-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 1.6rem;
}

.forgotPassword {
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.0125rem;
}

.signInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.socialLoginContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

.socialIcons {
  display: flex;
  width: 3.25rem;
  height: 3.25rem;
  padding: 0.89894rem 1.06275rem 0.92106rem 1.00956rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5875rem;
  background: #fff;
  border-style: none;
  cursor: pointer;
}

.createAccount {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.signUpHere {
  color: #0acf83;
  text-decoration: underline;
  cursor: pointer;
}

.signInButton,
.signUpButton {
  display: flex;
  width: 20.375rem;
  height: 3.125rem;
  padding: 1.25rem 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.625rem;
  background: #0acf83;
  border-style: none;
  color: #fff;
  font-family: DM Sans;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}
