.container {
  width: 422px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 23rem;
  margin-bottom: 2rem;
}

.title {
  display: flex;
  flex-direction: column;
  width: 23rem;
}

.price {
  color: #0acf83;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.productName {
  color: black;
  font-family: Montserrat;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0.0125rem;
}

.overviewContainer {
  display: flex;
  gap: 2.5rem;
  width: 23rem;
  margin-top: 0.7rem;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  margin-bottom: 2rem;
}

.overview {
  padding-bottom: 0.5rem;
}

.reviewTextContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 23rem;
  margin-bottom: 10rem;
}

.reviewTextTitle {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}

.reviewText {
  color: black;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.0125rem;
}
