.container {
  width: 422px;
  min-height: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 23rem;
  margin-bottom: 2rem;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productList {
  margin-top: 2rem;
}

.shoppingCart {
  color: black;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  background-color: white;
  cursor: pointer;
}

.totalContainer {
  display: flex;
  justify-content: space-between;
  width: 23rem;
}

.totalItems {
  color: black;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  opacity: 0.6000000238418579;
}

.totalDollars {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.listAndButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 49rem;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkoutButton {
  display: flex;
  width: 20rem;
  height: 3.125rem;
  padding: 1.25rem 1.875rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.625rem;
  background: #0acf83;
  color: #fff;
  font-family: DM Sans;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  border: none;
  margin-top: 1.3rem;
}
