.container {
  width: 422px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 23rem;
  margin-bottom: 2rem;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  width: 23rem;
}

.price {
  color: #0acf83;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.productName {
  color: black;
  font-family: Montserrat;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0.0125rem;
}

.overviewContainer {
  display: flex;
  gap: 1.5rem;
  width: 23rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.overviewContainer button {
  color: black;
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  border-style: none;
  cursor: pointer;
  background-color: white;
}

.greenLine {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.imagesContainer {
  width: 395px;
  margin-left: 1.5rem;
}

.reviewTextContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 23rem;
  animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.reviewTextTitle {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}

.reviewText {
  color: black;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.0125rem;
}

.reviews {
  color: black;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  width: 23rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.bottonSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  width: 26.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.anotherProductContainer {
  display: flex;
  justify-content: space-between;
  width: 23rem;
  margin-bottom: 1.5rem;
}

.anotherProduct {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.seeAll {
  color: #7f7f7f;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  cursor: pointer;
  text-decoration: none;
}

.carouselContainer {
  width: 380px;
}
